#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config
arch/arm64/boot/Image
arch/arm64/boot/Image.gz-dtb
arch/arm64/boot/dts/qcom/apq8037-pmi8937-cdp.dtb
arch/arm64/boot/dts/qcom/apq8037-pmi8937-mtp.dtb
arch/arm64/boot/dts/qcom/apq8037-pmi8950-cdp.dtb
arch/arm64/boot/dts/qcom/apq8037-pmi8950-mtp.dtb
arch/arm64/boot/dts/qcom/apq8053-cdp.dtb
arch/arm64/boot/dts/qcom/apq8053-ext-audio-mtp.dtb
arch/arm64/boot/dts/qcom/apq8053-ext-codec-rcm.dtb
arch/arm64/boot/dts/qcom/apq8053-iot-mtp.dtb
arch/arm64/boot/dts/qcom/apq8053-ipc.dtb
arch/arm64/boot/dts/qcom/apq8053-mtp.dtb
arch/arm64/boot/dts/qcom/apq8053-rcm.dtb
arch/arm64/boot/dts/qcom/huawei-trt-a1-vb.dtb
arch/arm64/boot/dts/qcom/huawei-trt-a1-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-a1.dtb
arch/arm64/boot/dts/qcom/huawei-trt-al00-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-al00-vb.dtb
arch/arm64/boot/dts/qcom/huawei-trt-al00-vc.dtb
arch/arm64/boot/dts/qcom/huawei-trt-al00-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l21-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l21-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l21a.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l22-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l22-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l23-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l23-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l53-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-l53-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-tl10-va.dtb
arch/arm64/boot/dts/qcom/huawei-trt-tl10-vd.dtb
arch/arm64/boot/dts/qcom/huawei-trt-tl10hk.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l11_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l21_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l22_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l23_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l31_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_atu_l42_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_al00_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_al00_vb.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l21_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l22_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l23_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l41_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l42_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l51_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l61_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_l61_vb.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_tl10_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8917_ygn_tl10_vb.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_al00_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_al10_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_al20b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_al30b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_l29_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_l41_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_tl00_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_tl10_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_tl20b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_atu_tl30b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al00a_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al00b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al00c_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al00d_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al10_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_al50_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l01_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l21a_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l21b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l22_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l22a_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_l23_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl00a_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl00b_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl00c_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl00n_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl10_va.dtb
arch/arm64/boot/dts/qcom/huawei_msm8937_lnd_tl50_va.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8937-cdp.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8937-mtp.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8937-rcm.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8940-qrd-sku7.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8950-cdp.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8950-ext-codec-cdp.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8950-mtp.dtb
arch/arm64/boot/dts/qcom/msm8920-pmi8950-rcm.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8937-cdp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8937-mtp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8937-qrd-sku2-dvt1.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8937-qrd-sku2.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8937-rcm.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8940-cdp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8940-mtp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8940-rcm.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-cdp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-ext-codec-cdp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-mtp.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-qrd-sku1-dvt1.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-qrd-sku1.dtb
arch/arm64/boot/dts/qcom/msm8937-pmi8950-rcm.dtb
arch/arm64/boot/dts/qcom/msm8937-rumi.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8937-cdp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8937-mtp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8937-rcm.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8940-cdp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8940-mtp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8940-qrd-sku7.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8940-rcm.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-cdp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-ext-codec-cdp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-mtp.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-qrd-sku6.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-qrd-sku7.dtb
arch/arm64/boot/dts/qcom/msm8940-pmi8950-rcm.dtb
arch/arm64/boot/dts/qcom/msm8952-cdp.dtb
arch/arm64/boot/dts/qcom/msm8952-ext-codec-cdp.dtb
arch/arm64/boot/dts/qcom/msm8952-mtp.dtb
arch/arm64/boot/dts/qcom/msm8952-qrd-skum.dtb
arch/arm64/boot/dts/qcom/msm8953-cdp-1200p.dtb
arch/arm64/boot/dts/qcom/msm8953-cdp.dtb
arch/arm64/boot/dts/qcom/msm8953-ext-codec-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-ext-codec-rcm.dtb
arch/arm64/boot/dts/qcom/msm8953-iot-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-ipc.dtb
arch/arm64/boot/dts/qcom/msm8953-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8937-cdp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8937-ext-codec-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8937-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8940-cdp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8940-ext-codec-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-pmi8940-mtp.dtb
arch/arm64/boot/dts/qcom/msm8953-qrd-sku3.dtb
arch/arm64/boot/dts/qcom/msm8953-rcm.dtb
arch/arm64/boot/dts/qcom/msm8953-rumi.dtb
arch/arm64/boot/dts/qcom/msm8953-sim.dtb
arch/arm64/boot/dts/qcom/msmcobalt-cdp.dtb
arch/arm64/boot/dts/qcom/msmcobalt-mtp.dtb
arch/arm64/boot/dts/qcom/msmcobalt-rumi.dtb
arch/arm64/boot/dts/qcom/msmcobalt-sim.dtb
arch/arm64/boot/dts/qcom/msmcobalt-v2-cdp.dtb
arch/arm64/boot/dts/qcom/msmcobalt-v2-mtp.dtb
arch/arm64/boot/dts/qcom/msmcobalt-v2-rumi.dtb
arch/arm64/boot/dts/qcom/msmcobalt-v2-sim.dtb
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vmlinux.lds
crypto/asymmetric_keys/x509-asn1.c
crypto/asymmetric_keys/x509-asn1.h
crypto/asymmetric_keys/x509_rsakey-asn1.c
crypto/asymmetric_keys/x509_rsakey-asn1.h
kernel/config_data.h
kernel/time/hz.bc
kernel/time/timeconst.h
kernel/x509_certificate_list
lib/crc32table.h
lib/gen_crc32table
lib/oid_registry_data.c
net/wireless/regdb.c
scripts/asn1_compiler
scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable
security/selinux/av_permissions.h
security/selinux/flask.h
usr/gen_init_cpio
drivers/platform/msm/ipa/ipa_common
*.ll
*.dtb
